<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>grails</string>
	<key>CFBundleName</key>
	<string>grails 2-3-11 - Guide</string>
	<key>DocSetPlatformFamily</key>
	<string>grails</string>
	<key>isDashDocset</key>
	<true/>
	<key>dashIndexFilePath</key>
	<string>snapshots/grails_single.html</string>
</dict>
</plist>
